# MkDocs output
site/

# custom
.DS_Store
.pio/
.vscode/
Meter hardware design/PCB CAD Design/EnAcess PCB-backups/EnAcess PCB-2023-06-07_102116.zip
Meter hardware design/PCB CAD Design/EnAcess PCB-backups/EnAcess PCB-2023-06-09_003451.zip
Meter hardware design/PCB CAD Design/fp-info-cache
